<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.est.mapper.StoreMapper">

    <select id="getStoreById" resultType="cn.est.po.Store">
        select
                id as id,
                storeName as storeName,
                phone as phone,
                adress as adress,
                longitude as longitude,
                latitude as latitude,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from store
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getStoreListByMap" resultType="cn.est.po.Store" parameterType="java.util.Map">
        select
                id as id,
                storeName as storeName,
                phone as phone,
                adress as adress,
                longitude as longitude,
                latitude as latitude,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from store
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null">
                        and id=#{id}
                    </if>
                    <if test="storeName != null and storeName!=''">
                        and storeName=#{storeName}
                    </if>
                    <if test="phone != null and phone!=''">
                        and phone=#{phone}
                    </if>
                    <if test="adress != null and adress!=''">
                        and adress=#{adress}
                    </if>
                    <if test="longitude != null">
                        and longitude=#{longitude}
                    </if>
                    <if test="latitude != null">
                        and latitude=#{latitude}
                    </if>
                    <if test="createdUserId != null">
                        and createdUserId=#{createdUserId}
                    </if>
                    <if test="updatedUserId != null">
                        and updatedUserId=#{updatedUserId}
                    </if>
                    <if test="null!=creatdTime">
                        and creatdTime=#{creatdTime}
                    </if>
                    <if test="null!=updatedTime">
                        and updatedTime=#{updatedTime}
                    </if>
                    <if test="isDelete != null">
                        and isDelete=#{isDelete}
                    </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getStoreCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from store
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null">
                    and id=#{id}
                </if>
                <if test="storeName != null and storeName!=''">
                    and storeName=#{storeName}
                </if>
                <if test="phone != null and phone!=''">
                    and phone=#{phone}
                </if>
                <if test="adress != null and adress!=''">
                    and adress=#{adress}
                </if>
                <if test="longitude != null">
                    and longitude=#{longitude}
                </if>
                <if test="latitude != null">
                    and latitude=#{latitude}
                </if>
                <if test="createdUserId != null">
                    and createdUserId=#{createdUserId}
                </if>
                <if test="updatedUserId != null">
                    and updatedUserId=#{updatedUserId}
                </if>
                <if test="null!=creatdTime">
                    and creatdTime=#{creatdTime}
                </if>
                <if test="null!=updatedTime">
                    and updatedTime=#{updatedTime}
                </if>
                <if test="isDelete != null">
                    and isDelete=#{isDelete}
                </if>
        </trim>
    </select>

    <insert id="insertStore" parameterType="cn.est.po.Store">
        insert into store(
                        storeName,
                        phone,
                        adress,
                        longitude,
                        latitude,
                        createdUserId,
                        updatedUserId,
                        creatdTime,
                        updatedTime,
                        isDelete)
        values(
                     #{storeName},
                     #{phone},
                     #{adress},
                     #{longitude},
                     #{latitude},
                     #{createdUserId},
                     #{updatedUserId},
                     #{creatdTime},
                     #{updatedTime},
                    #{isDelete})
    </insert>

    <update id="updateStore" parameterType="cn.est.po.Store">
        update store
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                            <if test="storeName != null and storeName!=''">
                                storeName=#{storeName},
                            </if>
                            <if test="phone != null and phone!=''">
                                phone=#{phone},
                            </if>
                            <if test="adress != null and adress!=''">
                                adress=#{adress},
                            </if>
                            <if test="longitude != null">
                                longitude=#{longitude},
                            </if>
                            <if test="latitude != null">
                                latitude=#{latitude},
                            </if>
                            <if test="createdUserId != null">
                                createdUserId=#{createdUserId},
                            </if>
                            <if test="updatedUserId != null">
                                updatedUserId=#{updatedUserId},
                            </if>
                            <if test="creatdTime != null">
                                creatdTime=#{creatdTime},
                            </if>
                            <if test="updatedTime != null">
                                updatedTime=#{updatedTime},
                            </if>
                            <if test="isDelete != null">
                                isDelete=#{isDelete}
                            </if>
        </trim>
    </update>

    <delete id="deleteStoreById" parameterType="String">
        delete from store where id = #{id}
    </delete>

    <delete id="batchDeleteStore" parameterType="java.util.Map">
        delete from store where id in (
            <foreach collection="ids" item="id" separator=",">
                    #{id}
            </foreach>
        )
    </delete>
</mapper>